.authorInfo {
  font-size: 0.8rem;
  max-height: 10em; /* Adjust as needed */
  overflow: hidden;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #2f4858
}

.authorName {
  font-size: 1rem;
  max-height: 2em; /* Adjust as needed */
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #2f4858
}

.author {
  text-align: center;
  margin-top: auto;
  color: #2f4858
}
