.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://cutewallpaper.org/36x/5x1g4j38c/3104217380.jpg");
  background-size: cover;
}

.login-box {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #444;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.password-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.password-toggle-button {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}

.link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #0056b3;
}
